<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection"
        connectionString="Data Source=coderfoundry.cloudapp.net, 55555;  
         Initial Catalog=whoudry-bugtracker;
         User Id=whoudry;
         Password=whh8319246;
         Integrated Security=False"
        providerName="System.Data.SqlClient" />
 </connectionStrings>



