<?xml version="1.0"?>
<appSettings>
  <add key="SMTP_USERNAME" value="AKIAIS6W6KKFYOKJ4D6A" />
  <add key="SMTP_PASSWORD" value="Ajm9Q3ZTnEBUUyAQs1nt8YM5UU3RpvW1Dinr+G6YVuYl" />
  <add key="emailfrom" value="binsina9@gmail.com" />
  <add key="HOST" value="email-smtp.us-west-2.amazonaws.com" />
  <add key="PORT" value="587"/>
</appSettings>


