

@model Tracker.Models.UserRolesVM


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>









<div class="container">
    <h2> User Roles Details</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Assign or Unassign Roles To User", "EditUser", new { Id = Model.UserId })
        </p>
    }
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    @*<h3 class="panel-title"> @Model.UserName</h3>*@
                </div>
                <table >
                    <thead>
                        <tr>
                            <th>Roles</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => role)</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--End Hover Rows-->
    </div>
    <div>
        @Html.ActionLink("Back to List", "Users")
    </div>
</div>
